body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  canvas {
    display: block;
    margin: 40px auto;
    border: 1px solid #000;
  }
  
  #gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  
  #resetButton {
    background-color: #0095DD;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  